html,body{
    margin:0;
    height: 100%;
}
header{
    background-color: deepskyblue;
    float: left;
    width: 10%;
    text-align: center;
    height: 1600px;
    margin: 0 20px 0 0;
}
.summary{
    margin: 20px 0 0 20px;
}
.s{
    padding: 10px;
}