html,body{
    
    height: 100%;
    margin: 0;
}
.left{
    background: red;
    float: left;
    width: 30%;
    height: 50px;
}

.right{
    background: black;
    float: left;
    width: 70%;
    height: 50px;
}